<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PawsAlert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC3802FF1C5DA5E100CC6A20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC3803131C5DA5E200CC6A20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC38031E1C5DA5E200CC6A20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
